<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BatchTimeoutInMinutes" value="1" />
    <add key="BatchCutOffTime" value="235959" />
    <add key="MaximumBatchSize" value="1" />
    <add key="NServiceBusMaxMessageProcessingConcurrency" value="1" />
    <add key="NServiceBusInstanceMappingFilePath" value="c:\temp\NServiceBusInstanceMapping\instance-mapping.xml" />
    <add key="NServiceBusPersistence" value="Data Source=.\SQLEXPRESS;Initial Catalog=NServiceBusPersistence;Integrated Security=true"/>
  </appSettings>
</configuration>